@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.navbar {
  font-family: 'Poppins', sans-serif;
}

.btnOutline {
  @apply px-4 py-2 transition-all duration-300;
  background:linear-gradient(.25turn, #45008B, 30%, #9953F3);
  border-radius: 10px;
  color: white;
  font-weight: semibold;
}

.colorone {
  color: #45008B;
}

.colortwo {
  color: #9953F3;
}

.sm-menu {
  position:absolute;
  top:0;
  transition: ease-in 0.3s;
  transform: translateX(-100%);
}

.menu_visible  {
  transform: translateX(0%);
}

.hamburger {
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
}

.menu_hamburger_rotate {
  transform: rotate(180deg);
}


